replicaCount: 1

nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/qarawlus/hello-world-helm
  tag: "main"
  pullPolicy: IfNotPresent
  pullSecrets: []

serviceAccount:
  create: false
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 80

podAnnotations: {}

podLabels: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

ingress:
  enabled: true
  className: ""
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: helm.hello-world.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - helm.hello-world.local
      secretName: ""
